{{< tabs >}}

{{< tab "Primera tab" >}} Contenido de primera tab {{< /tab >}}

{{< tab "Segunta tab" >}} Contenido de segunda tab {{< /tab >}}

{{< tab "Tercera tab" >}} Contenido de tercera tab {{< /tab >}}

{{< tab "Cuarta tab" >}} Contenido de cuarta tab {{< /tab >}}

{{</ tabs >}}